// compress: true, sourceMap: true;
@import (less) "./_common";
@import (less) "./_setting";

/**------------------------------------
* components style */
// site header
@import (less) "./_header";

// menu view
@import (less) "./_menuView";

// contents view
@import (less) "./_contentsView";

@import (less) "./index";
@import (less) "./posts";

body {
	&:not(.is-ready) {
		.contents-view {
			height: 0;
			margin: 0;
			overflow: hidden;
			padding: 0;
		}
	}
	
	&.is-lock-scroll {
		overflow: hidden;
	}
}

/**------------------------------------
* layout change */
@media screen and (orientation: portrait) and (max-width: 736px) {
	body {
		height: auto;
		overflow-y: auto;
		padding: 30vh 0 0;
	}
	
	.site-header {
		height: 30vh;
		left: 0;
		position: fixed;
		top: 0;
	}
	
	.menu-view {
		height: auto;
		position: relative;
		width: 100%;
		
		.menu-wrapper {
			height: auto;
			overflow: auto;
			padding-top: @block_pad;
			
			body[data-page="index"] & {
				.transform(none);
			}
		}
	}
	
	.site-nav {
		position: fixed;
		
		.btn-toggle {
			&.is-checked {
				&:before {
					.transform(none);
					opacity: .9;
				}
			}
		}
		
		.link-list {
			.transform(none);
			
			> li {
				> a {
					&:before,
					> span {
						.transform(none);
					}
				}
			}
		}
	}
	
	.thumb-list {
		.img-frame {
			~ span {
				.transform(none);
			}
		}
	}
	
	.contents-view {
		width: 100%;
	}
	
	.site-footer {
		.copyright {
			.transform(none);
		}
	}
}

