// out:null
.site-nav {
	.transform( translate3d(0 ,0, 0) );
	background-color: transparent;
	bottom: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 998;
	
	@media (max-width: @mq_w) {
		margin-top: 0;
	}
	
	.btn-toggle {
		border: none;
		display: block;
		margin: 0;
		padding: 0;
		
		// background sheet
		&:before {
			.box-shadow(0, -1px, 4px, 0, #000, .4);
			.transform( skew(@base_skewX, 0) );
			.transform-origin(100% 100%);
			.transition(all .4s);
			background-color: @base_bgc;
			bottom: 0;
			content: "";
			display: block;
			height: 100vh;
			position: absolute;
			opacity: .5;
			right: 0;
			width: 80px;
			z-index: -1;
		}
		
		&.is-hover {
			&:before {
				opacity: .85;
			}
		}
		
		@media(min-width: (@mq_w + 1px)) {
			&:before {
				width: 100px;
			}
		}
		
		input[type="checkbox"] {
			display: none;
			
			+ label {
				@this_size: ( @icon_size + 4px );
				.transition(transform .4s);
				bottom: 0;
				cursor: pointer;
				display: block;
				height: @this_size;
				padding: ( (@this_size - 2px) / 2 ) 7px 0;
				position: absolute;
				right: (@block_pad / 4);
				width: @this_size;
				z-index: 9;
				
				@media(min-width: (@mq_w + 1px)) {
					bottom: (@block_pad / 2);
					right: (@block_pad / 2);
				}
				
				.icon {
					.transition(background .4s);
					background-color: @theme_c;
					display: block;
					height: 2px;
					position: relative;
					width: 100%;
					
					&:before,
					&:after {
						.transition(all .4s);
						background-color: @theme_c;
						content: "";
						display: block;
						height: 2px;
						left: 0;
						position: absolute;
						width: 100%;
					}
					
					&:before {
						bottom: 8px;
					}
					
					&:after {
						top: 8px;
					}
				}
				
				&.is-hover {
					.icon {
						background-color: lighten(@theme_c, 15%);
						
						&:before,
						&:after {
							background-color: lighten(@theme_c, 15%);
						}
					}
				}
			}
			
			&:checked + label {
				.transform( rotate(-180deg) );
				
				.icon {
					background-color: transparent;
					
					&:before {
						.transform( rotate( 45deg ) );
						bottom: 0;
					}
					
					&:after {
						.transform( rotate( -45deg ) );
						top: 0;
					}
				}
			}
		}
		
		&.is-checked {
			&:before {
				.box-shadow(none);
				.transform( skew(0, 0) );
				height: 120vh;
				opacity: .8;
				width: 100%;
			}
			
			+ .link-list {
				.transform( translate3d(0, 10vh, 0) );
				height: 120vh;
				opacity: 1;
				padding-top: 10vh;
			}
		}
	}
	
	.link-list {
		.transform( translate3d(0, 0, 0) );
		.transition(opacity .5s);
		flex-direction: column;
		height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		text-align: center;
		
		@this_switch: 500px;
		@media (min-width: (@this_switch + 1px)) {
			margin: auto;
			right: 0;
			width: @this_switch;
		}
		
		> li {
			.box-shadow(0, 1px, 2px, -1px, #000, .4);
			display: table;
			font-size: 2rem;
			height: 10vh;
			padding: 0;
			width: 100%;
			
			@media (max-width: @mq_w) {
				background-color: transparent;
			}
			
			> a {
				.transition(color .4s);
				color: @base_txc;
				display: table-cell;
				margin: 0;
				position: relative;
				text-decoration: none;
				vertical-align: middle;
				z-index: 0;
				
				&:before {
					display: inline-block;
					font-size: inherit;
					margin-right: 5px;
				}
				
				&:after {
					.transform(none);
					.transition(opacity .5s);
					background: radial-gradient(ellipse at center,
						fade(@base_bgc, 80%) 0%,
						fade(@base_bgc, 60%) 40%,
						fade(@base_bgc, 20%) 60%,
						#fff 100%
					);
					height: 100%;
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
				}
				
				&:active {
					color: @theme_c;
					
					&:after {
						opacity: 1;
					}
				}
				
				&.is-hover {
					color: @theme_c;
					
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
	
	.search-box {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
		
		fieldset {
			border: none;
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;
			vertical-align: bottom;
			z-index: 5;
			
			&:first-child {
				width: 200px;
				
				&:after {
					.transform-origin(50% 50%);
					.transform( scaleX(0) );
					.transition(transform .2s);
					background-color: @theme_c;
					bottom: 0;
					content: "";
					display: block;
					height: 1px;
					left: 0;
					position: absolute;
					width: 100%;
				}
				
				+ fieldset {
					margin-left: -4px;
				}
			}
		}
		
		input[type="text"] {
			.transition(background .2s);
			background-color: transparent;	//@base_bgc;
			border: solid #a9a9a9;
			border-radius: 0;
			border-width: 0 0 1px;
			height: @icon_size;
			min-width: auto;
			min-width: initial;
			outline: none;
			padding: 0 .5em;
			width: 100%;
			
			@media(min-width: (@mq_w + 1px)) {
				height: 30px;
			}
		}
		
		input[type="submit"] {
			display: none;
		}
		
		.btn-search {
			.transition(color .2s);
			cursor: pointer;
			display: block;
			
			&:before {
				display: block;
				font-size: 30px;
			}
		}
		
		&.is-focus {
			fieldset:first-child {
				&:after {
					.transform( scaleX(1) );
				}
			}
			
			input[type="text"] {
				background-color: fade(@base_bgc, 50%);
			}
			
			.btn-search {
				color: @theme_c;
			}
		}
	}
}