// out:null, main: style.less

/**------------------------------------
* section title */
.section[data-section="title"] {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

/**------------------------------------
* background (video, img) */
.main-background {
	height: 110%;
	left: 0;
	position: absolute;
	top: 0;
	width: 110%;
	z-index: 0;
	
	@media (orientation: portrait) and (max-width: @mq_w) {
		height: 100%;
	}
	
	.bg-grey,
	.bg-color {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		
		&:before,
		&:after {
			content: "";
			display: block;
			background-position: 0 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		
		&:before {
			height: 60%;
			
			@media (orientation: portrait) and (max-width: @mq_w) {
				height: 110vw;
			}
		}
		
		&:after {
			height: 40%;
			
			@media (orientation: portrait) and (max-width: @mq_w) {
				height: 70vw;
			}
		}
	}
	
	.bg-grey {
		opacity: .6;
		
		&:before,
		&:after {
			background-image: url("@{img_dir}/bg_grey.jpg");
		}
	}
	
	.bg-color {
		opacity: .25;
		
		&:before,
		&:after {
			background-image: url("@{img_dir}/bg_color.jpg");
		}
	}
	
	@media (orientation: landscape) and (max-width: @mq_w) {
	}
	
	> video {
		display: block;
		
		@media(max-width: @mq_w) {
			display: none;
		}
	}

	> img {
		display: none;
		
		@media(max-width: @mq_w) {
			display: block;
		}
	}
}

.bg-cover {
	background-image: url("@{img_dir}/pattern.png");
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

/**------------------------------------
* site title */
.main-title {
	.user-select(none);
	cursor: default;
	margin: 0;
	padding: 5px 0;
	position: relative;
	text-align: center;
	z-index: 2;
	
	@media(max-width: @mq_w) {
		padding-top: (@block_space * 2);
	}
	
	em {
		font-style: normal;
	}
	
	.title-tagged,
	.title-main {
		.blur-text(@base_bgc);
		display: block;
		font-size: 4rem;
		line-height: 1;
		margin: 0 10px;
		text-transform: uppercase;
		white-space: nowrap;
		
		span + span {
			margin-left: .3em;
		}
		
		@media(min-width: (@mq_w + 1px)) {
			font-size: 8rem;
		}
	}
	
	.title-sub {
		.blur-text(@base_bgc);
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: .1em;
		line-height: 1;
		margin: 2px 0 0;
		
		.tagged {
			&:before,
			&:after {
				content: "\"";
			}
			
			+ span {
				display: none;
			}
		}
		
		@media(min-width: (@mq_w + 1px)) {
			font-size: 4rem;
		}
	}
	
	&.is-anime {
		.title-main {
			> span {
				.animation(title, 4.0s ease-in-out infinite alternate);
				
				&:nth-child(2) {
					.animation-delay(.15s);
				}
				
				&:nth-child(3) {
					.animation-delay(.30s);
				}
				
				&:nth-child(4) {
					.animation-delay(.45s);
				}
				
				&:nth-child(5) {
					.animation-delay(.60s);
				}
				
				&:nth-child(6) {
					.animation-delay(.75s);
				}
				
				&:nth-child(7) {
					.animation-delay(.90s);
				}
				
				&:nth-child(8) {
					.animation-delay(1.05s);
				}
			}
		}
		
		.title-sub {
			> span {
				.animation(title, 4.0s ease-in-out infinite alternate);
			}
		}
	}
}

.keyframes(title, {}, {
	text-shadow:
		0 0 2px rgba(red(@theme_c), green(@theme_c), blue(@theme_c), .2),
		0 0 3px rgba(0, 0, 0, .02),
		0 0 0 rgba(0, 0, 0, 0),
		0 0 0 rgba(255, 255, 255, 0),
		0 0 0 rgba(0, 0, 0, 0),
		0 0 0 rgba(255, 255, 255, 0),
		0 0 0 rgba(255, 255, 255, 0);
});
