// out:null, main: style.less
/**------------------------------------
* index page */
.page-index {
}

.page-top {
	padding-top: 60vh;
	
	@media (orientation: portrait) and (max-width: @mq_w) {
		padding-top: 100vw;
	}
	
	@media (orientation: landscape) and (max-width: @mq_w) {
		padding-top: 0;
	}
	
	.main-title {
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	.main-background {
		position: relative;
	}
}

.section {
	position: relative;
	
	+ .section {
		margin-top: 0;
	}
}
