//out: null, main: style.less
/**------------------------------------
* posts */
.posts {
	body.page-index & {
		// flex box
		display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-flex-wrap: wrap;
		-webkit-justify-content: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		
		.more-box ~ .post {
			display: none;
		}
	}
}

.post {
	a {
		text-decoration: none;
		
		&.is-hover {
			text-decoration: underline;
		}
	}
	
	img,
	video,
	iframe {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	
	body.page-index & {
		height: 24vh;
		overflow: hidden;
		position: relative;
		width: 50%;
		
		@media (orientation: portrait) and (max-width: @mq_w) {
			height: 42vw;
		}
		
		@media (min-width: (@mq_w + 1px)) {
			width: 33.333%;
		}
		
		> a {
			.transition(background .2s);
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 3;
			
			&.is-hover {
				background-color: fade(@theme_c, 20%);
			}
		}
		
		> .thumbnail {
			.transform( skew(0, (@base_skewY * -1)) translate(-50%, -50%) );
			left: 50%;
			max-width: initial;
			max-width: auto;
			min-height: 116%;
			position: absolute;
			top: 45%;
			z-index: -1;
		}
		
		> p,
		.caption {
			text-align: left;
		}
		
		.entry-header {
			color: @theme_c;
			height: 100%;
			padding: @block_pad @block_pad (@block_pad + 2px);
			width: 100%;
			
			@media (max-width: @mq_w) {
				@this_pad: (@block_pad * 3 / 4);
				padding: @this_pad @this_pad (@this_pad + 2px);
			}
			
			.entry-title {
				text-shadow: 2px 2px 2px fade(#000, 35%);
				border-bottom-width: 0;
				font-size: 2rem;
				left: 0;
				margin-bottom: 0;
				padding-left: @block_pad;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 2;
				
				@media (max-width: @mq_w) {
					font-size: 1.8rem;
				}
			}
			
			.date {
				bottom: 0;
				font-weight: 500;
				right: @block_pad;
				position: absolute;
				z-index: 2;
				
				@media (max-width: @mq_w) {
					font-size: 1.2rem;
				}
			}
			
			&:before,
			&:after {
				.box-sizing(border);
				content: "";
				display: block;
				height: 100%;
				width: 100%;
			}
			
			&:before {
				.box-shadow(inset, 0, 0, 4px, 1px, @theme_c);
				position: relative;
				z-index: 1;
			}
			
			&:after {
				border: @block_pad solid fade(@base_bgc, 70%);
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 0;
				
				@media (max-width: @mq_w) {
					@this_pad: (@block_pad * 3 / 4);
					border-width: @this_pad;
				}
			}
		}
		
		.entry-content {
			height: 0;
			overflow: hidden;
		}
		
		.entry-footer {
			display: none;
		}
		
		&.more-box {
			background-color: tint(@theme_c, 20%);
			
			> a {
				.box-shadow( inset, 1px, 1px, 6px, 0, #000, .3 );
			}
			
			> p {
				.transform( translate(-50%, -50%) );
				color: @base_bgc;
				font-size: 2.6rem;
				line-height: 1;
				position: absolute;
				left: 50%;
				top: 50%;
				
				&:after {
					vertical-align: middle;
				}
			}
		}
	}
	
	body.page-permalink & {
		background-color: fade(@theme_c, 60%);
		border-radius: 4px;
		margin: 0 auto;
		padding: 10px;
		width: 100%;
		
		+ .post {
			margin-top: 50px;
		}
		
		@media (orientation: portrait) and (max-width: @mq_w) {
			width: 95%;
		}
	}
}
