// out: ./style.min.css, compress: true, strictMath: true
@import (less) "./_normalize";
@import (less) "./_lib";

@theme_c: #fcfdff;
@sub_c: #040b1c;
@vp_switch: 768px;


.style-btn(@txc, @bgc, @actv_txc, @actv_bgc) {
	display: table;
	
	&>* {
		background-color: @bgc;
		border: 1px @txc solid;
		color: @txc;
		cursor: pointer;
		display: table-cell;
		min-height: 44px;
		min-width: 44px;
		padding: .5em 1em;
		text-decoration: none;
		vertical-align: middle;
		.transition(all .2s);
		
		&.active {
			background-color: @actv_bgc;
			border-color: @actv_bgc;
			color: @actv_txc;
		}
		
		&:active {
			.active();
		}
		
		@media(min-width: @vp_switch) {
			&:hover {
				.active();
			}
		}
	}
}

.hide {
	display: none !important;
}

body {
	width: 100%;
}

ul {
	list-style: none;
}

p {
	margin: 0;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 44px 0 18px;
	
	&>video {
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		.transform(translate3d(-50%, -50%, 0));
	}
	
	&>img {
		display: none;
		height: 100%;
		left: 40%;
		position: relative;
		top: 50%;
		.transform(translate3d(-50%, -50%, 0));
		
		@media (orientation: landscape) {
//			height: auto;
		}
	}
	
	@media(max-width: @vp_switch) {
		&>video {
			display: none;
		}
		
		&>img {
			display: block;
		}
	}
	
	.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@url_ptn: "https://www.dropbox.com/s/3wfy9od7k3mbrdr/pattern.png?dl=0";
		background-image: url(@url_ptn);
	}
}

.container {
	background-color: @theme_c;
	color: @theme_c;
	.font-type-play();
	font-size: 1.5rem;
	height: 100vh;
	overflow: hidden;
	padding: 137px 0 28px;
	width: 100%;
	
	@media (min-width: @vp_switch) {
		padding-top: 192px;
	}
}

.header {
	cursor: default;
	.user-select(none);
	padding: 0 0 5px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
	
	
	.nav {
		background-color: @sub_c;
		padding: 1px 0;
		
		&>ul {
			display: table;
			list-style: none;
			margin-left: 1em;
			
			&>li {
				.style-btn(@theme_c, transparent, @sub_c, @theme_c);
				display: table-cell;
				
				&>* {
					border-color: transparent;
					display: inline-block;
					line-height: 1.5;
				}
			}
		}
	}
	
	.title {
		.blur-text(@theme_c);
		font-size: 4.0rem;
		letter-spacing: .01em;
		line-height: 1;
		margin: 10px;
		text-transform: uppercase;
		white-space: nowrap;
		
		@media(min-width: @vp_switch) {
			font-size: 8.0rem;
		}
	}
	
	.title-sub {
		.blur-text(@theme_c);
		font-size: 2.0rem;
		font-weight: 700;
		letter-spacing: .1em;
		line-height: 1;
		margin: 2px 0 0;
		
		@media(min-width: @vp_switch) {
			font-size: 4.0rem;
		}
		
		&>span {
			.animation-delay(1.0s);
		}
	}
}

.anime {
	&>span {
		.animation(anime, 5.0s ease-in-out infinite alternate);
		
		&:nth-child(2) {
			.animation-delay(.15s);
		}
		
		&:nth-child(3) {
			.animation-delay(.30s);
		}
		
		&:nth-child(4) {
			.animation-delay(.45s);
		}
		
		&:nth-child(5) {
			.animation-delay(.60s);
		}
		
		&:nth-child(6) {
			.animation-delay(.75s);
		}
		
		&:nth-child(7) {
			.animation-delay(.90s);
		}
		
		&:nth-child(8) {
			.animation-delay(1.05s);
		}
	}
}

.keyframes(anime, {
}, {
	text-shadow:
		0 0 2px rgba(red(@theme_c), green(@theme_c), blue(@theme_c), .2),
		0 0 3px rgba(0, 0, 0, .02),
		0 0 0 rgba(0, 0, 0, 0),
		0 0 0 rgba(255, 255, 255, 0),
		0 0 0 rgba(0, 0, 0, 0),
		0 0 0 rgba(255, 255, 255, 0),
		0 0 0 rgba(255, 255, 255, 0);
});

.footer {
	color: @theme_c;
	background-color: @sub_c;
	bottom: 0;
	font-size: 1.6rem;
	position: fixed;
	text-align: center;
	z-index: 1;
	width: 100%;
	
	.copyright {
		font-size: 1.3rem;
		line-height: 1;
		padding: 4px 0;
	}
}

.body {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 0 10px;
	position: relative;
	text-align: center;
	z-index: 0;
	
	.contents {
		min-height: 100%;
		position: relative;
	}
	
	.content {
		margin: 0 auto;
		
		@media (orientation: portrait) {
			width: 100%;
		}
	}
		
	.description {
		background-color: fade(@theme_c, 90%);
		border-radius: 2px;
		color: @sub_c;
		padding: 1em;
		position: relative;
		text-align: left;
		width: 30em;
		z-index: 1;
	}
	
	.area-news {
		bottom: 0;
		position: absolute;
		text-align: left;
		width: 15em;
		z-index: 0;
		
		@media(min-width: @vp_switch) {
			width: 20em;
		}
		
		.news {
			background-color: fade(@theme_c, 60%);
			border-radius: 2px;
			margin: 0 auto 10px 0;
			padding: .5em;
			
			&:first-child {
				margin-top: 0;
			}
			
			a {
				color: @sub_c;
				display: block;
				text-decoration: none;
			}
			
			.date {
				font-size: 1.3rem;
				
				&::after {
					content: "";
					display: block;
				}
			}
		}
		
		.btn-readmore {
			margin: 0 0 0 auto;
			.style-btn(@theme_c, transparent, @sub_c, fade(@theme_c, 80%));
			
			&>* {
				padding: .5em;
			}
		}
	}
}

.posts {
	max-width: 520px;
	width: 100%;
	
	.post {
		background-color: fade(@sub_c, 85%);
		border-radius: 2px;
		margin: 10px auto 0;
		padding: 10px;
		
		&:first-child {
			margin-top: 0;
		}
		
		a {
			color: @theme_c;
			text-decoration: none;
		}
		
		img,
		video,
		iframe {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
		
		@media (min-width: @vp_switch + 1px) {
			min-width: @vp_switch;
		}
		
		@media (orientation: portrait) and (max-width: @vp_switch) {
			width: 95%;
		}
	}
}
