// out: ../style.min.css, compress: true, strictMath: true
@import (less) "./_normalize";
@import (less) "./_lib";
@import "//fonts.googleapis.com/earlyaccess/notosansjapanese.css";

@theme_c: #fcfdff;
@sub_c: #040b1c;
@vp_switch: 768px;


.style-btn(@txc, @bgc, @actv_txc, @actv_bgc) {
	display: table;
	
	> * {
		.transition(all .2s);
		background-color: @bgc;
		border: 1px @txc solid;
		color: @txc;
		cursor: pointer;
		display: table-cell;
		min-height: 44px;
		min-width: 44px;
		padding: .5em 1em;
		text-decoration: none;
		vertical-align: middle;
		width: 100%;
		
		&.active {
			background-color: @actv_bgc;
			border-color: @actv_bgc;
			color: @actv_txc;
		}
		
		&:active {
			.active();
		}
		
		@media(min-width: @vp_switch) {
			&:hover {
				.active();
			}
		}
	}
}

.styleGridBoxes(@ratio, @bdc, @box_h: 100%) {
	.clearfix();
	
	> li {
		border: solid rgba(red(@bdc), green(@bdc), blue(@bdc), .8);;
		border-width: 1px 1px 1px 0;
		float: left;
		width: (100% / @ratio);
		
		&:nth-child(@{ratio}) ~ li {
			border-top-width: 0;
		}
		
		&:nth-child(@{ratio}n + 1) {
			border-left-width: 1px;
		}
		
		> * {
			display: block;
			position: relative;
			
			&:before {
				content: "";
				display: block;
				padding-top: @box_h;
			}
			
			> * {
				.transform(translate(-50%, -50%));
				display: block;
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				
			}
		}
	}
}

/**------------------------------------
* default style*/
* {
	margin: 0;
	padding: 0;
	.box-sizing();
}

html {
	background-color: @sub_c;
	font-size: 62.5%; /*10px*/
}

body {
	width: 100%;
}

ul {
	list-style: none;
}

.hide {
	display: none !important;
}

/**------------------------------------
* background (video) */
.background {
	height: 100vh;
	left: 0;
	overflow: hidden;
	padding: 0 0 18px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 0;
	
	> video {
		.transform(translate3d(-50%, -50%, 0));
		display: block;
		left: 50%;
		min-height: 100%;
		min-width: 100%;
		position: relative;
		top: 50%;
	}
	
	> img {
		.transform(translate3d(-50%, -50%, 0));
		display: none;
		height: 100%;
		left: 40%;
		position: relative;
		top: 50%;
		
		@media (orientation: landscape) {
			height: auto;
		}
	}
	
	@media(max-width: @vp_switch) {
		> video {
			display: none;
		}
		
		> img {
			display: block;
		}
	}
	
	.cover {
		@url_ptn: "https://www.dropbox.com/s/3wfy9od7k3mbrdr/pattern.png?dl=0";
		background-image: url(@url_ptn);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

/**------------------------------------
* page style*/
@btn_tumblr_h: 35px;
.container {
	.font-type-play();
	background-color: @theme_c;
	color: @sub_c;
	font-size: 1.5rem;
	height: 100vh;
	overflow: hidden;
	padding: (95px + @btn_tumblr_h) 0 10vh;
	width: 100%;
	
	.posts& {
		padding-top: (30px + @btn_tumblr_h);
	}
	
	@media (min-width: (@vp_switch + 1px)) {
		padding-top: (155px + @btn_tumblr_h);
		
		.posts& {
			padding-top: (55px + @btn_tumblr_h);
		}
	}
}

.header {
	.user-select(none);
	cursor: default;
	padding: @btn_tumblr_h 0 5px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;
	
	.title-main {
		.blur-text(@theme_c);
		font-size: 4rem;
		line-height: 1;
		margin: 10px;
		text-transform: uppercase;
		white-space: nowrap;
		
		span + span {
			margin-left: .3em;
		}
		
		@media(min-width: (@vp_switch + 1px)) {
			font-size: 8rem;
		}
	}
	
	.title-sub {
		.blur-text(@theme_c);
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: .1em;
		line-height: 1;
		margin: 2px 0 0;
		
		@media(min-width: (@vp_switch + 1px)) {
			font-size: 4rem;
		}
	}
	
	.title {
		&.is-anime {
			.title-main {
				> span {
					.animation(title, 5.0s ease-in-out infinite alternate);
					
					&:nth-child(2) {
						.animation-delay(.15s);
					}
					
					&:nth-child(3) {
						.animation-delay(.30s);
					}
					
					&:nth-child(4) {
						.animation-delay(.45s);
					}
					
					&:nth-child(5) {
						.animation-delay(.60s);
					}
					
					&:nth-child(6) {
						.animation-delay(.75s);
					}
					
					&:nth-child(7) {
						.animation-delay(.90s);
					}
					
					&:nth-child(8) {
						.animation-delay(1.05s);
					}
				}
			}
			
			.title-sub {
				> span {
					.animation(title, 1s ease-in-out infinite alternate);
				}
			}
		}
	}
	
	.posts & {
		background-color: @sub_c;
		padding-top: 5px + @btn_tumblr_h;
		
		.title-main {
			display: inline-block;
			font-size: 2.5rem;
			margin: auto;
			
			@media(min-width: (@vp_switch + 1px)) {
				font-size: 5rem;
			}
		}
		
		.title-sub {
			display: inline-block;
			margin: 0;
			position: relative;
			top: -1px;
		}
	}
}

.keyframes(title, {}, {
	text-shadow:
		0 0 2px rgba(red(@theme_c), green(@theme_c), blue(@theme_c), .2),
		0 0 3px rgba(0, 0, 0, .02),
		0 0 0 rgba(0, 0, 0, 0),
		0 0 0 rgba(255, 255, 255, 0),
		0 0 0 rgba(0, 0, 0, 0),
		0 0 0 rgba(255, 255, 255, 0),
		0 0 0 rgba(255, 255, 255, 0);
});

.footer {
	background-color: @sub_c;
	color: @theme_c;
	bottom: 0;
	font-size: 1.6rem;
	position: fixed;
	text-align: center;
	z-index: 1;
	width: 100%;
	
	.nav {
		padding: 1px 0;
		
		> ul {
			.styleGridBoxes(5, @theme_c, 10vh);
			
			a {
				color: @theme_c;
				text-decoration: none;
			}
/*
			border: solid rgba(red(@theme_c), green(@theme_c), blue(@theme_c), .8);;
			border-width: 1px 0 1px;
			display: table;
			width: 100%;
			
			> li {
				.style-btn(@theme_c, transparent, @sub_c, @theme_c);
				display: table-cell;
				
				> * {
					border-color: transparent;
					line-height: 1.5;
				}
			}
*/
		}
	}
	
	.copyright {
		color: @theme_c;
		font-size: 1.2rem;
		line-height: 1;
		padding: 9px 0;
	}
}

.body {
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 0 10px 30px;
	position: relative;
	text-align: center;
	z-index: 0;
	
	.posts & {
		padding-top: 25px;
	}
	
	.contents {
		position: relative;
		min-height: 100%;
	}
	
	.content {
		.transition(opacity .4s);
		margin: 0 auto;
		
		&.fadeOut {
			opacity: 0;
		}
	}
		
	.description {
		background-color: fade(@theme_c, 90%);
		border-radius: 2px;
		color: @sub_c;
		left: 0;
		margin: auto;
		padding: 1em;
		position: absolute;
		right: 0;
		text-align: left;
		top: 0;
		width: 520px;
		z-index: 1;
		
		.posts & {
			top: 25px
		}
	}
	
	.area-news {
		bottom: 10px;
		position: absolute;
		text-align: left;
		width: 15em;
		z-index: 0;
		
		@media(min-width: (@vp_switch + 1px)) {
			width: 20em;
		}
		
		.news {
			background-color: fade(@theme_c, 60%);
			border-radius: 2px;
			margin: 0 auto 10px 0;
			padding: .5em;
			
			&:first-child {
				margin-top: 0;
			}
			
			a {
				color: @sub_c;
				display: block;
				text-decoration: none;
			}
			
			.date {
				font-size: 1.3rem;
				
				&::after {
					content: "";
					display: block;
				}
			}
		}
		
		.btn-readmore {
			margin: 0 0 0 auto;
			.style-btn(@theme_c, transparent, @sub_c, fade(@theme_c, 80%));
			
			> * {
				padding: .5em;
			}
		}
	}
}

@import (less) "./posts";