// out: ../style.min.css, compress: true, strictMath: true
@import (less) "./_common";
@import (less) "./_setting";

.styleGridBoxes(@ratio, @bdc, @box_h: 100%) {
	&:extend(.clearfix all);
	
	> li {
		border: solid rgba(red(@bdc), green(@bdc), blue(@bdc), .8);;
		border-width: 1px 1px 1px 0;
		float: left;
		width: (100% / @ratio);
		
		&:nth-child(@{ratio}) ~ li {
			border-top-width: 0;
		}
		
		&:nth-child(@{ratio}n + 1) {
			border-left-width: 1px;
		}
		
		> * {
			display: block;
			position: relative;
			
			&:before {
				content: "";
				display: block;
				padding-top: @box_h;
			}
			
			> * {
				.transform(translate(-50%, -50%));
				display: block;
				left: 50%;
				position: absolute;
				text-align: center;
				top: 50%;
				
			}
		}
	}
}


@import (less) "./index";
@import (less) "./posts";